<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
</head>

<body>
  <!-- Background layer -->
  <div class="bg"></div>

  <!-- Scrollable content -->
  <div class="content">
    <%- include("../partials/header") %>
    <%- include("../partials/navigation") %>

    <main>
      <%- body %>
    </main>

    <%- include("../partials/footer") %>
  </div>
</body>
</html>
